header {
    background-color: rgb(33, 140, 217);
    background-image: url(./img/pattern.png);
    background-size: 300px;
}

.logo {
    width: 300px;
    margin-left: 25%;
    margin-top: 25px;
}

main, section, aside {
    margin: auto;
    width: 50%;
}
    
.testogrigio {
    color: lightgrey;
}

a {
    text-decoration: none;
}

thead {
    background-color: rgb(0, 85, 255);
    color: white;
}

table {
    border-collapse: collapse;
}

.spacing-table {
     width: 40%;
}

.color-table {
    background-color: aqua;
}

h1 {
    font-size: 40px;
    margin: 0;
}

.monitor{
    background-image: url(./img/monitor.jpg);
}

.graph{
    background-image: url(./img/graph.jpg);
}

.image-text{
    width: 250px;
    height: 200px;
    font-size: 22px;
    color: white;
    padding: 20px;
}